h2 {
    text-align: center;
    margin: 25px;
}

.tiles {
    display: grid;
    gap: 10px;

    a:hover,
    a:visited,
    a:link,
    a:active {
        color: inherit;
        text-decoration: none;
    }
}
