<ibm-skeleton-text [lines]="5" *ngIf="!server || !players">
</ibm-skeleton-text>

<ng-container *ngIf="server && players">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            Ranking
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Ranking</h4>
            <p ibmTableHeaderDescription>Ranking dos jogos</p>
        </ibm-table-header>
        <ibm-table-toolbar>
            <ibm-table-toolbar-content>
                <button ibmButton="secondary" size="sm" (click)="explanation = true">
                    Explicação do ranking
                </button>
            </ibm-table-toolbar-content>
        </ibm-table-toolbar>
        <ibm-table [showSelectionColumn]="false" [model]="playersTableModel!">
        </ibm-table>
    </ibm-table-container>
</ng-container>

<ibm-modal [open]="explanation" (close)="explanationClosed()" (overlaySelected)="explanationClosed()">
    <ibm-modal-header (closeSelect)="explanationClosed()">
        <p>
            Como é feito o cálculo da pontuação?
        </p>
    </ibm-modal-header>
    <div class="bx--modal-content">
        <ul ibmList class="explanation">
            <li ibmListItem>
                Cada campanha distribui <b>1.000</b> pontos aos jogadores,
                <b>75%</b> dos pontos são distribuídos entre os jogadores vencedores
                e <b>25%</b> aos jogadores derrotados.
            </li>
            <li ibmListItem>
                Cada mapa/round distribui por igual os pontos destinados para cada equipe (vencedora / derrotada)
            </li>
            <li ibmListItem>
                Cada round leva em consideração várias métricas para identificar qual jogador deve receber mais pontos
                por melhor performance durante o jogo.
            </li>
            <li ibmListItem>
                O jogador que abandonar a partida <b>NÃO</b> terá pontuação contabilizada.
            </li>
            <li ibmListItem>
                O jogador que substituir outro e ficar até o final,
                irá receber a pontuação proporcional aos mapas que jogou.
            </li>
        </ul>
    </div>
</ibm-modal>

<ng-template #positionTemplate let-position="data">
    <img src="../../../../../assets/first-place.png" *ngIf="position === 1" class="medal" />
    <img src="../../../../../assets/second-place.png" *ngIf="position === 2" class="medal" />
    <img src="../../../../../assets/third-place.png" *ngIf="position === 3" class="medal" />
    <img src="../../../../../assets/fourth-place.png" *ngIf="position === 4" class="medal" />
    <img src="../../../../../assets/fifth-place.png" *ngIf="position === 5" class="medal" />
    <ng-container *ngIf="position > 5">{{position}}</ng-container>
</ng-template>

<ng-template #playerNameTemplate let-player="data">
    <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
</ng-template>

<ng-template #numberTemplate let-number="data">
    {{number|number}}
</ng-template>

<ng-template #pointsTemplate let-points="data">
    {{points|number:'1.0-0'}}
</ng-template>