<ibm-skeleton-text [lines]="5" *ngIf="!server || !players">
</ibm-skeleton-text>

<ng-container *ngIf="server && players">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            Ranking
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Ranking</h4>
            <p ibmTableHeaderDescription>Ranking dos jogos</p>
        </ibm-table-header>
        <ibm-table-toolbar>
            <ibm-table-toolbar-content>
                <button ibmButton="secondary" size="sm" (click)="explanation = true">
                    Explicação do ranking
                </button>
            </ibm-table-toolbar-content>
        </ibm-table-toolbar>
        <ibm-table [showSelectionColumn]="false" [model]="playersTableModel!">
        </ibm-table>
    </ibm-table-container>
</ng-container>

<ibm-modal [open]="explanation" (close)="explanationClosed()" (overlaySelected)="explanationClosed()">
    <ibm-modal-header (closeSelect)="explanationClosed()">
        <p>
            Como é feito o cálculo da pontuação?
        </p>
    </ibm-modal-header>
    <div class="bx--modal-content">
        <ul ibmList class="explanation">
            <li ibmListItem>
                O ranking utiliza apenas os pontos conquistados nos últimos <b>90</b> dias.
            </li>
            <li ibmListItem>
                Apenas jogos com <b>4</b> jogadores de cada lado são contabilizados,
                não sendo necessário 4 jogadores humanos.
            </li>
            <li ibmListItem>
                Cada campanha distribui <b>1.000</b> pontos aos jogadores,
                <b>75%</b> dos pontos são distribuídos entre os jogadores vencedores
                e <b>25%</b> aos jogadores derrotados.
            </li>
            <li ibmListItem>
                Apenas jogos em campanhas que possuam <b>4</b> mapas ou mais serão contabilizados.
            </li>
            <li ibmListItem>
                Cada mapa/round distribui por igual os pontos destinados para cada equipe (vencedora / derrotada).
            </li>
            <li ibmListItem>
                Cada round leva em consideração várias métricas para identificar qual jogador deve receber mais pontos
                por melhor performance durante o jogo.
            </li>
            <li ibmListItem>
                O jogador que abandonar a partida <b>NÃO</b> terá pontuação contabilizada.
            </li>
            <li ibmListItem>
                O jogador que substituir outro e ficar até o final,
                irá receber a pontuação proporcional aos mapas que jogou.
            </li>
        </ul>
        <div class="details">
            <button ibmButton="secondary" size="sm" (click)="details = true">
                +Detalhes sobre o cálculo do ranking
            </button>
        </div>     
    </div>
</ibm-modal>

<ibm-modal [open]="details" (close)="detailsClosed()" (overlaySelected)="detailsClosed()">
    <ibm-modal-header (closeSelect)="detailsClosed()">
        <p>
            Explicação dos pesos usados nas estatísticas.
        </p>
    </ibm-modal-header>
    <div class="bx--modal-content">
        <ul ibmList class="explanation">
            <li ibmListItem>
                O ranking é feito com um cálculo baseado em uma média ponderada usando um peso para determinada estatística dentro da partida:
            </li>
            <li ibmListItem>
                *Lembrando que cada partida vale 1000 pontos que são divididos para os 8 jogadores, 750 pontos vão para o time vencedor e 250 vão para o time perdedor.
            </li>
            <li ibmListItem>
                Ou seja, cada partida é composta por 4 mapas que por sua vez são divididos em 2 rounds (Sobreviventes e Infectados). 
            </li>    
            <li ibmListItem>
                Sendo assim, para o time que vencer o jogo cada round irá valer 93,75 pontos e para o time que perder 31,25. 
            </li>  
            <li ibmListItem>
                Que serão divididos entre os 4 jogadores de acordo com o seu rendimento dentro da partida. <hr>
            </li>
            <li ibmListItem>
                <b>JOGANDO DE SOBREVIVENTE:</b> *93,75 pontos
            </li>
            <br>
            <li ibmListItem>
                <b>Número de Commons e Infectados Especiais mortos: </b> <u>PESO 2</u>
            </li>
            <li>
                1.25 p/ Infectados Especiais mortos
                <br>
                0.75 p/ Commons mortos 
            </li>
            <br>
            <li ibmListItem>
                <b>Dano causado em Infectados Especiais (Incluindo Tank e Witch): </b> <u>PESO 4</u> 
            </li>
            <li>
                2.0 p/ Dano causado nos Infectados Especiais
                <br>
                1.5 p/ Dano causado no Tank
                <br>
                0.5 p/ Dano causado na Witch
            </li>
            <br>
            <li ibmListItem>
                <b>Eventos dentro do round: </b> <u>PESO 1</u> 
            </li>
            <li>
                0.1 p/ Clears (salvar um sobrevivente com 1s ou menos)
                <br>
                0.1 p/ Crowns (matar a Witch com 1 tiro)
                <br>
                0.1 p/ Skeets
                <br>
                0.1 p/ SkeetsMelee
                <br>
                0.1 p/ RockSkeets
                <br>
                0.1 p/ Levels
                <br>
                0.1 p/ DeadStops (coronhar um Hunter que esteja em um pounce)
                <br>
                0.1 p/ TongueCuts (cortar a língua do smoker)
                <br>
                0.1 p/ Shoves (Coronhadas em Infectados Especiais)
                <br>
                0.1 p/ Pops (Boomers estourados)
            </li>
            <hr>
            <li ibmListItem>
                <b>JOGANDO DE INFECTADO: </b> *93,75 pontos
            </li>
            <br>
            <li ibmListItem>
                <b>Dano causado como infectado: </b> <u>PESO 3</u> 
            </li>
            <li>
                2.0 p/ Dano causado nos sobreviventes que não estejam incapacitados
                1.0 p/ Dano causado nos sobreviventes que estejam já incapacitados.
            </li>
            <br>
            <li ibmListItem>
                <b>Instant Kill de Charger (IK): </b> <u>PESO 2</u> 
            </li>
            <li>
                2.0 p/ o jogador que jogando de Charger conseguir executar um Instant Kill.
            </li>
        </ul>
        

    </div>
</ibm-modal>

<ng-template #positionTemplate let-position="data">
    <img src="../../../../../assets/first-place.png" *ngIf="position === 1" class="medal" />
    <img src="../../../../../assets/second-place.png" *ngIf="position === 2" class="medal" />
    <img src="../../../../../assets/third-place.png" *ngIf="position === 3" class="medal" />
    <img src="../../../../../assets/fourth-place.png" *ngIf="position === 4" class="medal" />
    <img src="../../../../../assets/fifth-place.png" *ngIf="position === 5" class="medal" />
    <ng-container *ngIf="position > 5">{{position}}</ng-container>
</ng-template>

<ng-template #playerNameTemplate let-player="data">
    <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
</ng-template>

<ng-template #numberTemplate let-number="data">
    {{number|number}}
</ng-template>

<ng-template #pointsTemplate let-points="data">
    {{points|number:'1.0-0'}}
</ng-template>