<ibm-skeleton-text [lines]="5" *ngIf="!server || !match || !statistics">
</ibm-skeleton-text>

<ng-container *ngIf="server && match && statistics">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches">
            Resultados por campanha
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            {{match!.campaign}}
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-structured-list>
        <ibm-list-header>
            <ibm-list-column>Data</ibm-list-column>
            <ibm-list-column>Campanha</ibm-list-column>
            <ibm-list-column>Equipe A</ibm-list-column>
            <ibm-list-column>Placar</ibm-list-column>
            <ibm-list-column>Equipe B</ibm-list-column>
        </ibm-list-header>
        <ibm-list-row>
            <ibm-list-column>{{match!.matchStart | date:'dd/MM/YYYY HH:mm'}}</ibm-list-column>
            <ibm-list-column>{{match!.campaign}}</ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of match!.teams?.[0]?.players" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
            <ibm-list-column>{{match!.teams[0].score|number}} x {{match.teams[1].score|number}}</ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of match!.teams?.[1]?.players" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
        </ibm-list-row>
    </ibm-structured-list>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Mapas</h4>
            <p ibmTableHeaderDescription>Resultado dos mapas da campanha atual</p>
        </ibm-table-header>
        <ibm-table [showSelectionColumn]="false" [sortable]="false" [model]="statisticsTableModel!">
        </ibm-table>
    </ibm-table-container>

</ng-container>

<ng-template #dateTimeTemplate let-date="data">
    {{date | date:'dd/MM/YYYY HH:mm'}}
</ng-template>

<ng-template #scoreTemplate let-scoring="data">
    {{scoring.teamA.score|number}} x {{scoring.teamB.score|number}}
</ng-template>

<ng-template #actionsTemplate let-route="data">
    <a ibmLink
        [routerLink]="['/server', route.serverId, 'matches',  route.start,  route.end, 'statistics',  route.statisticId]">
        Detalhes
    </a>
</ng-template>