.match-date {
    text-align: center;

    small {
        display: block;
    }
}

.stats-table {
    tbody {
        tr {
            td:nth-child(even) {
                text-align: right;
            }
            td:nth-child(odd) {
                text-align: left;
            }
        }
    }
}
