<nz-skeleton [nzActive]="true" *ngIf="!statistics"></nz-skeleton>
<ng-container *ngIf="statistics">

    <nz-table #statisticsTable [nzData]="statistics">
        <thead>
            <tr>
                <th>Date</th>
                <th>Map</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let statistic of statisticsTable.data">
                <td>{{statistic?.statistic?.gameRound?.when | date:'medium'}}</td>
                <td>{{statistic?.statistic?.gameRound?.mapName}}</td>
                <td>
                    <a [routerLink]="['/server', server, 'matches', start, end, 'statistics', statistic.statisticId]">
                        Details
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>

</ng-container>