<ibm-skeleton-text [lines]="5" *ngIf="!server || !match || !statistics">
</ibm-skeleton-text>

<ng-container *ngIf="server && match && statistics">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches">
            Resultados por campanha
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            {{match!.campaign}}
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-structured-list>
        <ibm-list-header>
            <ibm-list-column class="text-center">Data</ibm-list-column>
            <ibm-list-column>Duração</ibm-list-column>
            <ibm-list-column>Campanha</ibm-list-column>
            <ibm-list-column>Equipe A</ibm-list-column>
            <ibm-list-column>Placar</ibm-list-column>
            <ibm-list-column>Equipe B</ibm-list-column>
        </ibm-list-header>
        <ibm-list-row>
            <ibm-list-column>
                <div class="match-date">
                    {{match.matchStart | date:'dd/MM/YYYY HH:mm:ss'}}
                    <ng-container *ngIf="match.matchEnd">
                        <small> até </small>
                        {{match.matchEnd | date:'dd/MM/YYYY HH:mm:ss'}}
                    </ng-container>
                </div>
            </ibm-list-column>
            <ibm-list-column>{{match!.matchElapsed}}</ibm-list-column>
            <ibm-list-column>{{match!.campaign}}</ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of match!.teams?.[0]?.players" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
            <ibm-list-column>
                <app-score [teamA]="match!.teams[0].score" [teamB]="match.teams[1].score"></app-score>
            </ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of match!.teams?.[1]?.players" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
        </ibm-list-row>
    </ibm-structured-list>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Mapas</h4>
            <p ibmTableHeaderDescription>Resultado dos mapas da campanha atual</p>
        </ibm-table-header>
        <ibm-table [showSelectionColumn]="false" [sortable]="false" [model]="statisticsTableModel!">
        </ibm-table>
    </ibm-table-container>

    <ibm-structured-list *ngFor="let team of match.teams; let i = index">
        <ibm-list-header>
            <ibm-list-column>
                Equipe {{ !i ? 'A' : 'B'}} - Sobrevivente
            </ibm-list-column>
        </ibm-list-header>
        <ibm-list-row>
            <ibm-list-column>
                <table class="stats-table" ibmTable size="sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let player of team.players" colspan="2">
                                {{player.name}}
                            </th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Mortes:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.died|number}}
                                </td>
                                <td>
                                    {{player.diedPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.died|number}}</th>
                        </tr>

                        <tr>
                            <th>Vezes incapacitado:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.incaps|number}}
                                </td>
                                <td>
                                    {{player.incapsPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.incaps|number}}</th>
                        </tr>

                        <tr>
                            <th>Dano recebido:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.dmgTaken|number}}
                                </td>
                                <td>
                                    {{player.dmgTakenPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.dmgTaken|number}}</th>
                        </tr>

                        <tr>
                            <th>Commons - Mortos:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.common|number}}
                                </td>
                                <td>
                                    {{player.commonPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.common|number}}</th>
                        </tr>

                        <tr>
                            <th>Infectados Especiais - Mortos:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.siKilled|number}}
                                </td>
                                <td>
                                    {{player.siKilledPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.siKilled|number}}</th>
                        </tr>

                        <tr>
                            <th>Infectados Especiais - Dano causado:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.siDamage|number}}
                                </td>
                                <td>
                                    {{player.siDamagePercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.siDamage|number}}</th>
                        </tr>

                        <tr>
                            <th>Tank - Dano causado:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.tankDamage|number}}
                                </td>
                                <td>
                                    {{player.tankDamagePercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.tankDamage|number}}</th>
                        </tr>

                        <tr>
                            <th>Tank - Pedras tomadas:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.rockEats|number}}
                                </td>
                                <td>
                                    {{player.rockEatsPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.rockEats|number}}</th>
                        </tr>

                        <tr>
                            <th>Witch - Dano causado:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.witchDamage|number}}
                                </td>
                                <td>
                                    {{player.witchDamagePercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.witchDamage|number}}</th>
                        </tr>

                        <tr>
                            <th>Skeets:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.skeets|number}}
                                </td>
                                <td>
                                    {{player.skeetsPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.skeets|number}}</th>
                        </tr>

                        <tr>
                            <th>Levels:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.levels|number}}
                                </td>
                                <td>
                                    {{player.levelsPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.levels|number}}</th>
                        </tr>

                        <tr>
                            <th>Crowns (Matar a Witch com 1 disparo):</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.crowns|number}}
                                </td>
                                <td>
                                    {{player.crownsPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.crowns|number}}</th>
                        </tr>

                        <tr>
                            <th>Fire-friend dado (FFG):</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.ffGiven|number}}
                                </td>
                                <td>
                                    {{player.ffGivenPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.ffGiven|number}}</th>
                        </tr>
                    </tbody>
                </table>
            </ibm-list-column>
        </ibm-list-row>
    </ibm-structured-list>

    <ibm-structured-list *ngFor="let team of match.teams; let i = index">
        <ibm-list-header>
            <ibm-list-column>
                Equipe {{ !i ? 'A' : 'B'}} - Infectado
            </ibm-list-column>
        </ibm-list-header>
        <ibm-list-row>
            <ibm-list-column>
                <table class="stats-table" ibmTable size="sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let player of team.players" colspan="2">
                                {{player.name}}
                            </th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Dano total:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.dmgTotal|number}}
                                </td>
                                <td>
                                    {{player.dmgTotalPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.dmgTotal|number}}</th>
                        </tr>

                        <tr>
                            <th>Tank - Dano causado:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.dmgTank|number}}
                                </td>
                                <td>
                                    {{player.dmgTankPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.dmgTank|number}}</th>
                        </tr>

                        <tr>
                            <th>Dano - Spitter:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.dmgSpit|number}}
                                </td>
                                <td>
                                    {{player.dmgSpitPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.dmgSpit|number}}</th>
                        </tr>

                        <tr>
                            <th>Hunter - Dano por pounces:</th>
                            <ng-container *ngFor="let player of team.players">
                                <td>
                                    {{player.hunterDpDmg|number}}
                                </td>
                                <td>
                                    {{player.hunterDpDmgPercentage|percent:'.2'}}
                                </td>
                            </ng-container>
                            <th class="text-center">{{team.hunterDpDmg|number}}</th>
                        </tr>
                    </tbody>
                </table>
            </ibm-list-column>
        </ibm-list-row>
    </ibm-structured-list>

</ng-container>

<ng-template #dateTimeTemplate let-date="data">
    {{date | date:'dd/MM/YYYY HH:mm:ss'}}
</ng-template>

<ng-template #scoreTemplate let-scoring="data">
    <app-score [teamA]="scoring.teamA.score" [teamB]="scoring.teamB.score"></app-score>
</ng-template>

<ng-template #actionsTemplate let-route="data">
    <a ibmLink
        [routerLink]="['/server', route.serverId, 'matches',  route.start,  route.end, 'statistics',  route.statisticId]">
        Detalhes
    </a>
</ng-template>