.map-date {
    text-align: center;

    small {
        display: block;
    }
}

.half-table {
    th {
        font-weight: bold;
        text-align: left;
    }

    td {
        padding-left: 15px;
        text-align: right;
    }
}

.stats-table {
    width: 100%;

    th {
        font-weight: bold;
        text-align: left;
    }

    td {
        text-align: center;
    }

    th,
    td {
        padding: 4px 8px;
    }

    thead {
        th {
            text-align: center;
        }
    }

    tbody {
        th {
            text-align: left;
        }
    }
}