<ibm-skeleton-text [lines]="5" *ngIf="!server || !match || !statistic">
</ibm-skeleton-text>

<ng-container *ngIf="server && match && statistic">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches">
            Resultados por campanha
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches/{{start}}/{{end}}/statistics">
            {{match!.campaign}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            {{statistic.statistic?.gameRound?.mapName}}
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <app-statistic-detail [statistic]="statistic"></app-statistic-detail>

</ng-container>