<ibm-skeleton-text [lines]="5" *ngIf="!server || !match || !statistic">
</ibm-skeleton-text>

<ng-container *ngIf="server && match && statistic">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches">
            Resultados por campanha
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}/matches/{{start}}/{{end}}/statistics">
            {{match!.campaign}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            {{gameRound?.mapName}}
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-structured-list>
        <ibm-list-header>
            <ibm-list-column>Data</ibm-list-column>
            <ibm-list-column>Configuração</ibm-list-column>
            <ibm-list-column>Mapa</ibm-list-column>
            <ibm-list-column>Equipe A</ibm-list-column>
            <ibm-list-column>Placar</ibm-list-column>
            <ibm-list-column>Equipe B</ibm-list-column>
        </ibm-list-header>
        <ibm-list-row>
            <ibm-list-column>{{gameRound!.when | date:'dd/MM/YYYY HH:mm'}}</ibm-list-column>
            <ibm-list-column>{{gameRound!.configurationName}} ({{gameRound!.teamSize}} jogadores)</ibm-list-column>
            <ibm-list-column>{{gameRound!.mapName}}</ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of teamA" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
            <ibm-list-column>{{scoring!.teamA!.score|number}} x {{scoring!.teamB!.score|number}}</ibm-list-column>
            <ibm-list-column>
                <ul ibmList>
                    <li *ngFor="let player of teamB" ibmListItem>
                        <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
                    </li>
                </ul>
            </ibm-list-column>
        </ibm-list-row>
    </ibm-structured-list>

    <ibm-tabs type="container">
        <ibm-tab *ngFor="let half of halves; let i = index" heading="{{ i == 0 ? 'Primeiro' : 'Segundo' }} round">

            <ibm-structured-list>
                <ibm-list-header>
                    <ibm-list-column>Sobreviventes</ibm-list-column>
                    <ibm-list-column>Infectados</ibm-list-column>
                    <ibm-list-column>Dados do round</ibm-list-column>
                    <ibm-list-column></ibm-list-column>
                </ibm-list-header>
                <ibm-list-row>
                    <ibm-list-column>
                        <ul ibmList>
                            <li *ngFor="let player of half.players" ibmListItem>
                                <a ibmLink [href]="player.profileUrl" target="_blank">
                                    {{player.playerName}}
                                </a>
                            </li>
                        </ul>
                    </ibm-list-column>
                    <ibm-list-column>
                        <ul ibmList>
                            <li *ngFor="let infectedPlayer of half.infectedPlayers" ibmListItem>
                                <a ibmLink [href]="infectedPlayer.profileUrl" target="_blank">
                                    {{infectedPlayer.playerName}}
                                </a>
                            </li>
                        </ul>
                    </ibm-list-column>
                    <ibm-list-column>
                        <table class="half-table">
                            <tbody>
                                <tr>
                                    <th>Restarts:</th>
                                    <td>{{half.roundHalf!.restarts|number}}</td>
                                </tr>
                                <tr>
                                    <th>Pills utilizadas:</th>
                                    <td>{{half.roundHalf!.pillsUsed|number}}</td>
                                </tr>
                                <tr>
                                    <th>Kits utilizados:</th>
                                    <td>{{half.roundHalf!.kitsUsed|number}}</td>
                                </tr>
                                <tr>
                                    <th>Desfib. utilizados:</th>
                                    <td>{{half.roundHalf!.defibsUsed|number}}</td>
                                </tr>
                                <tr>
                                    <th>Common mortos:</th>
                                    <td>{{half.roundHalf!.common|number}}</td>
                                </tr>
                                <tr>
                                    <th>Infectados mortos:</th>
                                    <td>{{half.roundHalf!.siKilled|number}}</td>
                                </tr>
                                <tr>
                                    <th>Dano aos infectados:</th>
                                    <td>{{half.roundHalf!.siDamage|number}}</td>
                                </tr>
                                <tr>
                                    <th>Infectados spawned:</th>
                                    <td>{{half.roundHalf!.siSpawned|number}}</td>
                                </tr>
                                <tr>
                                    <th>Witches mortas:</th>
                                    <td>{{half.roundHalf!.witchKilled|number}}</td>
                                </tr>
                                <tr>
                                    <th>Tanks mortos:</th>
                                    <td>{{half.roundHalf!.tankKilled|number}}</td>
                                </tr>
                                <tr>
                                    <th>Incapacitados:</th>
                                    <td>{{half.roundHalf!.incaps|number}}</td>
                                </tr>
                                <tr>
                                    <th>Sobreviventes mortes:</th>
                                    <td>{{half.roundHalf!.deaths|number}}</td>
                                </tr>
                                <tr>
                                    <th>Fire-friend:</th>
                                    <td>{{half.roundHalf!.ffDamageTotal|number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ibm-list-column>
                    <ibm-list-column>
                        <table class="half-table">
                            <tbody>
                                <tr *ngIf="half.roundHalf!.startTime">
                                    <th>Início do round:</th>
                                    <td>{{half.roundHalf!.startTime | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                                <tr *ngIf="half.roundHalf!.endTime">
                                    <th>Fim do round:</th>
                                    <td>{{half.roundHalf!.endTime | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                                <tr *ngIf="half.roundHalf!.startTimePause">
                                    <th>Início do pause:</th>
                                    <td>{{half.roundHalf!.startTimePause | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                                <tr *ngIf="half.roundHalf!.stopTimePause">
                                    <th>Fim do pause:</th>
                                    <td>{{half.roundHalf!.stopTimePause | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                                <tr *ngIf="half.roundHalf!.startTimeTank">
                                    <th>Início do Tank:</th>
                                    <td>{{half.roundHalf!.startTimeTank | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                                <tr *ngIf="half.roundHalf!.stopTimeTank">
                                    <th>Fim do Tank:</th>
                                    <td>{{half.roundHalf!.stopTimeTank | date:'dd/MM/YYYY HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ibm-list-column>
                </ibm-list-row>
            </ibm-structured-list>


        </ibm-tab>
    </ibm-tabs>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Jogadores no servidor</h4>
            <p ibmTableHeaderDescription>Lista de todos os jogadores presentes no servidor</p>
        </ibm-table-header>
        <ibm-table [showSelectionColumn]="false" [sortable]="false" [model]="playersTableModel!">
        </ibm-table>
    </ibm-table-container>

</ng-container>

<ng-template #playerNameTemplate let-playerName="data">
    <a ibmLink [href]="playerName.profileUrl" target="_blank">{{playerName.name}}</a>
</ng-template>