<ibm-skeleton-text [lines]="5" *ngIf="!server || !statistics">
</ibm-skeleton-text>

<ng-container *ngIf="server && statistics">
    <ibm-breadcrumb>
        <ibm-breadcrumb-item href="/servers">
            Servidores
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="/server/{{serverId}}">
            {{server.displayName}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
            Resultados por mapa
        </ibm-breadcrumb-item>
    </ibm-breadcrumb>

    <ibm-table-container>
        <ibm-table-header>
            <h4 ibmTableHeaderTitle>Mapas</h4>
            <p ibmTableHeaderDescription>Resultado de todos os mapas</p>
        </ibm-table-header>
        <ibm-table [showSelectionColumn]="false" [sortable]="false" [model]="statisticsTableModel!">
        </ibm-table>
    </ibm-table-container>

</ng-container>

<ng-template #dateTimeTemplate let-date="data">
    {{date | date:'dd/MM/YYYY HH:mm:ss'}}
</ng-template>

<ng-template #teamTemplate let-players="data">
    <ul ibmList>
        <li *ngFor="let player of players" ibmListItem>
            <a ibmLink [href]="player.profileUrl" target="_blank">{{player.name}}</a>
        </li>
    </ul>
</ng-template>

<ng-template #scoreTemplate let-scoring="data">
    {{scoring?.teamA.score|number}} x {{scoring?.teamB.score|number}}
</ng-template>

<ng-template #actionsTemplate let-route="data">
    <a ibmLink [routerLink]="['/server', route.serverId, 'statistics', route.statisticId]">
        Detalhes
    </a>
</ng-template>