<div *ngIf="!statistics">loading...</div>
<ng-container *ngIf="statistics">

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Map</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let statistic of statistics">
                <td>{{statistic?.gameRound?.when | date:'medium'}}</td>
                <td>{{statistic?.gameRound?.mapName}}</td>
                <td>
                    <a ibmLink [routerLink]="['/server', server, 'statistics', statistic.statisticId]">
                        Detalhes
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</ng-container>